{{ define "main" }}
  {{ $kind := .Kind }}

  <main class="main">
    <header><h1 class="main-title text-center">{{ .Title }}</h1></header>
    <article>{{ .Content }}</article>

    <footer>
      {{ if gt (len .Paginator.Pages) 0 }}
        <div class="row pages-list {{ .Kind }}">
          {{ range .Paginator.Pages }}
            {{ if or (eq $kind "taxonomy") (eq .Type "products") (eq .Type "gallery") }}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 {{ .Type }}">
            {{ else }}
              <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 page {{ .Type }}">
            {{ end }}

            {{ if eq .Type "products" }}
              {{ partial "product-card.html" . }}
            {{ else if eq .Type "gallery" }}
              <img alt="{{ .Title }}" data-src="{{ .Params.image }}"/>

              <div class="data">
                <h3>{{ .Title }}</h3>
                <p class="description text-muted">{{ .Description }}</p>
              </div>
            {{ else }}
              {{ if isset .Params "image" }}
                {{ if eq $kind "taxonomy" }}
                  <div class="image col-xs-12">
                    <a href="{{ .URL }}">
                      <img alt="{{ .Title }}" data-src="{{ .Params.image }}"/>
                    </a>
                  </div>

                  <div class="col-xs-12 data">
                {{ else }}
                  <div class="image col-xs-12 col-sm-4 col-md-3">
                    <a href="{{ .URL }}">
                      <img alt="{{ .Title }}" data-src="{{ .Params.image }}"/>
                    </a>
                  </div>

                  <div class="col-xs-12 col-sm-8 col-md-9 data">
                {{ end }}
              {{ else }}
                <div class="data">
              {{ end }}

                <h3><a href="{{ .URL }}">{{ .Title }}</a></h3>

                <div class="text-muted small metadata">
                  <div>
                    <strong>{{ i18n "DATE" }}:</strong>

                    <span>
                      {{ .Date.Format "2006/01/02 15:04:05 -0700" }}
                    </span>
                  </div>

                  <div>
                    <strong>{{ i18n "TAGS" }}:</strong>

                    {{ range .Params.tags }}
                      <a href="{{ absLangURL "tags/" }}{{ . | urlize }}">
                        #{{ . }}</a>
                    {{ end }}
                  </div>
                </div>

                <p class="description">{{ .Description }}</p>
              </div>
            {{ end }}

            </div>
          {{ end }}
        </div>

        <div class="text-center">
          {{ template "_internal/pagination.html" . }}
        </div>
      {{ end }}
    </footer>
  </main>
{{ end }}

