{{ define "main" }}
  <main class="main">
    <header>
      {{ if isset .Params "image" }}
        <img class="page-image" alt="{{ .Title }}"
             data-src="{{ .Params.image }}"/>
      {{ end }}

      <h1 class="main-title">{{ .Title }}</h1>

      <dl class="page-metadata text-muted">
        {{ if isset .Params "date" }}
          <dt>{{ i18n "DATE" }}:</dt>
          <dd>{{ .Date.Format "2006/01/02 15:04:05 -0700" }}</dd>
        {{ end }}

        {{ if isset .Params "tags" }}
          <dt>{{ i18n "TAGS" }}:</dt>
          <dd>
            {{ range .Params.tags }}
              <a href="{{ absLangURL "tags/" }}{{ . | urlize }}">
                #{{ . }}</a>
            {{ end }}
          </dd>
        {{ end }}
      </dl>
    </header>

    <article class="markdown">{{ .Content }}</article>
    <footer></footer>
  </main>
{{ end }}

