.pages-list > div {
  margin-bottom: 2em;
  padding: 0em;
}

.pages-list .page .data {
  padding: 1em;
}

.pages-list .blog,
.pages-list .recipes {
  background: #fff;
  border-radius: 0.5em;
  filter: drop-shadow(0em 0em 0.1em #000000aa);
}

.pages-list .blog .image,
.pages-list .recipes .image {
  padding: 0em;
}

.pages-list .blog img,
.pages-list .recipes img {
  width: 100%;
  min-height: 5em;

  border-radius: 0.5em 0.5em 0em 0em;
  object-fit: contain;
  object-position: center;
}

.pages-list .blog h3,
.pages-list .recipes h3 {
  margin-bottom: 0.5em;
}

.pages-list .blog a,
.pages-list .recipes a {
  color: #468847;
  text-decoration: none;
}

.pages-list .blog .metadata,
.pages-list .recipes .metadata {
  margin-bottom: 1em;
}

.pages-list .gallery {
  padding: 0.5em;
}

.pages-list .gallery img {
  width: 100%;
  min-height: 5em;

  border-radius: 0.5em;
  object-fit: contain;
  object-position: center;
}

.pages-list .gallery .data {
  width: 100%;

  background-color: #ffffff88;
  padding: 1em;

  position: absolute;
  bottom: 0em;
}

.pages-list.taxonomy h3,
.pages-list.taxonomy h3 {
  margin: 0.5em 0em;
}

.pages-list.taxonomy .description,
.pages-list.taxonomy .description {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .pages-list:not(.taxonomy) .blog img,
  .pages-list:not(.taxonomy) .recipes img {
    border-radius: 0.5em 0em 0em 0.5em;
  }
}

