.flexslider .flex-viewport {
  max-height: none;
}

.product .metadata dt {
  float: left;
  margin-right: 1ex;
}

.product .actions {
  margin-bottom: 1em;
}

.product .actions input {
  width: 5em;

  display: inline-block;
}

.product .actions button {
  background-color: #468847;
  color: #fff;
}

