<script>
  var CART_ALERT = '{{ i18n "CART_ALERT" }}'
  var CART_LABEL_NAME = '{{ i18n "NAME" }}'
  var DEFAULT_CURRENCY = '{{ .Site.Params.currency }}'
</script>

{{ with .Params.math }}
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{{ end }}

{{ $jquery := resources.Get "vendor/template/js/jquery.min.js" | minify }}

<script src="{{ $jquery.Permalink }}"></script>

{{ $simpleCart := resources.Get "vendor/template/js/simpleCart.js" | minify | fingerprint }}

<script src="{{ $simpleCart.Permalink }}"></script>

{{ $suffix := "" }}
{{ $scripts := slice }}
{{ $scripts = $scripts | append "vendor/template/js/bootstrap-3.1.1.min.js" }}
{{ $scripts = $scripts | append "vendor/template/js/jquery.flexisel.js" }}
{{ $scripts = $scripts | append "vendor/blazy.min.js" }}
{{ $scripts = $scripts | append "js/main.js" }}

{{ if .IsHome }}
  {{ $suffix = printf "%v-home" $suffix  }}
  {{ $scripts = $scripts | append "js/home.js" }}
{{ else if gt (len .Pages) 0 }}
{{ else if eq .Type "products" }}
  {{ $suffix = printf "%v-product" $suffix  }}
  {{ $scripts = $scripts | append "vendor/template/js/imagezoom.js" }}
  {{ $scripts = $scripts | append "vendor/template/js/jquery.flexslider.js" }}
  {{ $scripts = $scripts | append "js/product.js" }}
{{ else if and (eq .Type "custom") (eq .Layout "checkout") }}
  {{ $suffix = printf "%v-checkout" $suffix  }}
  {{ $scripts = $scripts | append "js/checkout.js" }}
{{ end }}

{{ if .Site.IsServer }}
  {{ range $scripts }}
    {{ $script := resources.Get . }}
    <script src="{{ $script.Permalink }}"></script>
  {{ end }}
{{ else }}
  {{ $res := slice }}
  {{ range $scripts }}{{ $res = $res | append (resources.Get .) }}{{ end }}

  {{ $script := resources.Concat (printf "js/bundle%v.js" $suffix) $res | minify }}

  <script async src="{{ $script.Permalink }}"></script>
{{ end }}

