{{ with .Params.math }}
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{{ end }}

{{ $simpleCart := resources.Get "vendor/template/js/simpleCart.min.js" | fingerprint }}

<script src="{{ $simpleCart.Permalink }}"
        integrity="{{ $simpleCart.Data.Integrity }}"></script>

<script>
  var currency = localStorage.getItem('currency')

  if (currency === null) {
    currency = '{{ .Site.Params.currency }}'
    localStorage.setItem('currency', currency)
  }

  simpleCart.currency({
    code: 'VES',
    name: 'Bolivar Soberano',
    symbol: 'VES '
  })

  simpleCart({
    cartStyle: 'table',

    cartColumns: [
      { attr: 'name', label: '{{ i18n "CART_NAME" }}' },
      { attr: 'quantity', label: '#' },
      { attr: 'total', view: 'currency' },

      {
        view: 'remove',
        label: '<a href="javascript:;" aria-hidden="true" '
               + 'class="simpleCart_empty glyphicon glyphicon-trash"></a>',
        text: '<span aria-hidden="true" class="glyphicon glyphicon-trash">'
              + '</span>'
      },
    ],

    currency: currency
  })
</script>

{{ $suffix := "" }}
{{ $scripts := slice }}
{{ $scripts = $scripts | append "vendor/template/js/jquery.min.js" }}
{{ $scripts = $scripts | append "vendor/template/js/bootstrap-3.1.1.min.js" }}
{{ $scripts = $scripts | append "vendor/template/js/jquery.flexisel.js" }}
{{ $scripts = $scripts | append "vendor/blazy.min.js" }}
{{ $scripts = $scripts | append "js/main.js" }}

{{ if .IsHome }}
  {{ $suffix = printf "%v-home" $suffix  }}
  {{ $scripts = $scripts | append "js/home.js" }}
{{ else if gt (len .Pages) 0 }}
{{ else if eq .Type "products" }}
  {{ $suffix = printf "%v-product" $suffix  }}
  {{ $scripts = $scripts | append "vendor/template/js/imagezoom.js" }}
  {{ $scripts = $scripts | append "vendor/template/js/jquery.flexslider.js" }}
  {{ $scripts = $scripts | append "js/product.js" }}
{{ end }}

{{ if .Site.IsServer }}
  {{ range $scripts }}
    {{ $script := resources.Get . }}
    <script src="{{ $script.Permalink }}"></script>
  {{ end }}
{{ else }}
  {{ $res := slice }}
  {{ range $scripts }}{{ $res = $res | append (resources.Get .) }}{{ end }}

  {{ $script := resources.Concat (printf "js/bundle%v.js" $suffix) $res | minify | fingerprint }}

  <script async src="{{ $script.Permalink }}"
          integrity="{{ $script.Data.Integrity }}"></script>
{{ end }}

